<h1>WELCOME</h1>

<br />
<hr />
<br />
<a  asp-controller="Policlinic" asp-action="Index"><label class="btn btn-outline-secondary">Policlinics</label></a>
<a asp-controller="Doctor" asp-action="Index"><label class="btn btn-outline-secondary">Doctors</label></a>
<a asp-controller="Appointment" asp-action="Index"><label class="btn btn-outline-secondary">Appointments</label></a>
<a asp-action="Logout"><label class="btn btn-danger">Logout</label></a>

