@model Admin

@{
    ViewBag.Title = "Admin Login Page";
}
<div class="login">
    <h2>Admin Login</h2>

    @if (ViewBag.Status != null)
    {

        if (ViewBag.Status == 0)
        {
            <div class="alert alert-danger">Password or Username is wrong.</div>
        }

    }
    @if (TempData["error"] is not null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    <div >
        <form method="post" asp-action="Login">

            <div>
                <label class="form-control-plaintext">Username</label>
                <input asp-for="AdminName" class="form-check-inline" />
                <span asp-validation-for="AdminName"></span>
            </div>
            <div>
                <label class="form-control-plaintext">Password</label>
                <input asp-for="AdminPassword" class="form-check-inline" type="password" />
                <span asp-validation-for="AdminPassword"></span>
            </div>

            <br />

            <input type="submit" class="btn btn-success" value="Login" />
            <a asp-controller="Patient" asp-action="Login"><label class="btn btn-outline-success">Patient Login</label></a>

        </form>
    </div>
    

    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
