<div><a asp-controller="Patient" asp-action="MakeAppointment"><label class="btn btn-group-vertical">Randevu Al</label></a></div>
<div><a asp-controller="" asp-action=""><label class="btn btn-group-vertical">Randevularım</label></a></div>
<div><a asp-controller="Doctor" asp-action="DoctorList"><label class="btn btn-group-vertical">Doktorlar</label></a></div>
<div><a asp-controller="Patient" asp-action="Logout"><label class="btn btn-group-vertical">Çıkış Yap</label></a></div>
