
<h2>Welcome </h2>
<br />
<hr />
<br />

<a asp-controller="Doctor" asp-action="IndexForPatient"><label class="btn btn-outline-info">Doctors</label></a>
<a asp-controller="Patient" asp-action="MakeAppointment"><label class="btn btn-outline-info">Make Appointment</label></a>
<a asp-controller="Appointment" asp-action="IndexForPatient"><label class="btn btn-outline-info">Your Appointments</label></a>
<a asp-action="Logout"><label class="btn btn-danger">Logout</label></a>
