@model Patient

@{
    ViewBag.Title = "Login Page";
}
<div class="login">
    <h2>Login</h2>

    @if (ViewBag.Status != null)
    {

        if (ViewBag.Status == 0)
        {
            <div class="alert alert-danger">Password or TC is wrong.</div>
        }

    }

    @if (TempData["error"] is not null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }

    <form asp-action="Login" method="post">
        <div>
            <label asp-for="tc" class="form-control-plaintext"></label>
            <input asp-for="tc" class="form-check-inline" />
            <span asp-validation-for="tc"></span>
        </div>
        <div>
            <label asp-for="PatientPassword" class="form-control-plaintext"></label>
            <input asp-for="PatientPassword" type="password" class="form-check-inline" />
            <span asp-validation-for="PatientPassword"></span>
        </div>

        <br />

        <input type="submit" class="btn btn-success" value="Login" a />
        <a asp-action="Signin"><label class="btn btn-outline-success">Signin</label></a>

    </form>
    @section Scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
