@model Hastane.Models.Policlinic

@{
    ViewData["Title"] = "Create";
}

<h1>Create Policlinic</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PolicName" class="control-label"></label>
                <input asp-for="PolicName" class="form-control" />
                <span asp-validation-for="PolicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"><label class="btn btn-outline-secondary">Back to List</label></a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
