@model Hastane.Models.Policlinic

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PolicId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"><label class="btn btn-outline-secondary">Back to List</label></a>
    </form>
</div>
