@model Hastane.Models.Policlinic

@{
    ViewData["Title"] = "Edit";
}



<h4>Edit Policlinic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolicId" />
            <div class="form-group">
                <label asp-for="PolicName" class="control-label"></label>
                <input asp-for="PolicName" class="form-control" />
                <span asp-validation-for="PolicName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index"><label class="btn btn-outline-secondary">Back to List</label></a>
            </div>
        </form>
    </div>
</div>
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
